$theme-color: #4F47EB;
$cursor: pointer;
$color-white: #FFFFFF;
$border-color: #E7E7EF;
:root {
  --wp-admin-theme-color: #4F47EB;
}
.alertify-notifier .ajs-message.ajs-error {
  background-color: rgba(223, 87, 87, 0.95);
  color: #fff;
  border-radius: 4px;
  box-shadow: rgba(244, 67, 54, 0.7) 0px 0px 15px 1px;
  font-size: 0.92rem;
  font-weight: 500;
  font-family: Helvetica, sans-serif, Arial, sans-serif;
}
#wlrmg-main-page {
  font-family: Helvetica, sans-serif, Arial, sans-serif;
  margin-right: 15px;
  background-color: rgba(248, 248, 252, 1);
  padding: 0 2rem 2rem 2rem;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  outline: none;

  a {
    text-decoration: none;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .wlrmg-notice-header {
    background: rgb(255, 226, 146);
    border: 2px solid #ffba00;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 14px;
  }

  .wlrmg-main-header {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;

    h1 {
      color: rgba(22, 31, 49, 1);
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.75rem;
      min-width: max-content;
    }

    div {
      position: relative;
      z-index: 10;
      margin-top: 0.375rem;
      display: flex;
      width: 100%;
      align-items: center;
      color: rgba(122, 129, 143, 1);
      margin-right: calc(0.5rem * calc(1 - 0));
      margin-left: calc(0.5rem * calc(1 - 0));
    }
  }

  .wlrmg-admin-main {
    display: flex;
    flex-direction: row-reverse;
    height: 2.5rem;
    gap: 1.5rem;

    .menu-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      padding: 0 15px;
      background-color: $theme-color;
      color: $color-white;
      border-radius: 6px;
      cursor: $cursor;
      width: 12%;
    }

    .back-to-loyalty {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: $cursor;

      .wlrmg-button-action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        height: 100%;
        padding: 0 15px;
        background: #fff;
        border: 1px solid $theme-color;
        border-radius: 6px;
        color: $theme-color;
        cursor: $cursor;
      }
    }

  }

  .wlrmg-admin-main .wlrmg-admin-nav {
    display: flex;
    position: relative;
    z-index: 10;
    width: 100%;
    align-items: center;
    gap: 2px;
    height: 74%;

    a {
      display: flex;
      height: 50px;
      align-items: center;
      background-color: rgba(243, 243, 247, 1);
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      color: rgba(83, 88, 99, 1);
      box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0);
      text-decoration: none;
      border: 1px solid rgba(243, 243, 247, 1);
      font-size: 1rem;
      gap: 5px;

      &:hover {
        background-color: rgba(255, 255, 255, 1);
        color: $theme-color;
        border: 1px solid #E7E7EF;
        border-bottom-color: rgba(255, 255, 255, 1);
      }

      i {
        font-size: 1.25rem;
      }
    }

    .active-nav {
      background-color: rgba(255, 255, 255, 1);
      color: $theme-color;
      border: 1px solid #E7E7EF;
      border-bottom-color: rgba(255, 255, 255, 1);
    }
  }

  .wlrmg-parent {
    background: #FFFFFF;
    width: 100%;
    border-radius: 0 12px 12px 12px;
    border: 1px solid #dadae7;

    .wlrmg-body-content {
      .wlrmg-body-active-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.25rem 2rem;

        &:not(.active-content) {
          display: none;
        }
      }

      .active-content {
        display: flex;
        min-height: 80vh;
        justify-content: flex-start;
      }

      #wlrmg-activity, #wlrmg-activity-details {
        display: block;
      }

      .wlrmg-table-heading-section {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
          font-size: 1rem;
        }

      }

      .wlrmg-table {
        display: flex;
        flex-direction: column;
        padding: 0;

        .wlrmg-table-header {
          display: grid;
          grid-template-columns: repeat(3, minmax(0, 1fr));
          gap: 1rem;
          border-radius: 0.25rem;
          padding: 1rem 1.25rem;
          background-color: rgba(248, 248, 252, 1);

          p {
            white-space: nowrap;
            margin: 0;
            display: grid;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1rem;
            color: rgba(83, 88, 89, 1);
          }
        }

        .wlrmg-table-body {
          min-height: 300px;
          position: relative;
          display: flex;
          width: 100%;
          flex-direction: column;
          align-items: center;

          .wlrmg-table-row {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            align-content: center;
            gap: 1rem;
            border-radius: 0.25rem;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-color: rgba(231, 231, 239, 1);
            padding: 0.5rem 0;
            width: 100%;

            p {
              margin: 5px;
            }

            .wlrmg-text-nowrap {
              white-space: nowrap;
            }

            div {
              margin-left: 14px;
            }

            &:hover {
              background: #e7e7ef42;
            }

          }
        }
      }

      .wlrmg-table-search-export {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }

      .search-box {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #ccc;

        input {
          outline: none;
          border: none;
          box-shadow: none;

          &:focus {
            outline: none;
          }

        }

        a {
          text-decoration: none;
        }

        i {
          font-size: 16px;
          padding: 6px;
        }
      }

      .wlrmg-heading-data {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .headings {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
        }

        .heading-section {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 5px;

          a {
            margin-top: 5px;
          }
        }

        .heading-buttons {
          display: flex;
          gap: 0.5rem;
        }

        .back-to-loyalty {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          cursor: $cursor;
          gap: 10px;
        }

      }

      .colored-button {
        background-color: $theme-color;
        color: $color-white;
      }

      .non-colored-button {
        color: $theme-color;
        background: white;
      }

      .wlrmg-body-data {
        display: flex;
        flex-direction: column;
        width: 100%;

        .wlrmg-data-content-row {
          margin-bottom: 20px;

          label {
            padding: 12px 12px 12px 0;
            display: inline-block;
          }

          .wlrmg-data-content-label {
            font-size: 14px;
            color: #535863;
            font-weight: bold;
          }

          .wlrmg-data-content-field {
            margin-top: -7px;
          }

          .wlrmg-row-filed {
            display: grid;
            grid-template-columns: 50% 49%;
            gap: 9px;
          }

          input[type=text],
          input[type=number],
          select {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
            line-height: 15px;
            max-width: 100%;
          }

          input[type=date] {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
          }

        }

        .wlrmg-data-content-row:after {
          content: "";
          display: table;
          clear: both;
        }

        .wlrmg-migation-card-section {
          display: grid;
          grid-template-columns: repeat(3, minmax(0, 1fr));
          gap: 1rem;

          .wlrmg-card {
            padding: 12px;
            border-radius: 8px;
            position: relative;
            min-height: max-content;
            min-width: 180px;
            font-size: 13px;
            margin: 5px 0;
            border: 1px solid rgba(50, 50, 93, 0.25);

            &:not(.active) {
              opacity: 0.5;
              cursor: not-allowed;
            }

            h5, p {
              font-size: 14px;
            }

            &:hover {

              border: 0;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
          }

          .wlrmg-button-section {
            display: flex;
          }


        }
      }

      .wlrmg-button-action {
        padding: 0.5rem 1.25rem;
        border: 1px solid $theme-color;
        display: flex;
        gap: 5px;
        cursor: $cursor;
        justify-content: center;
        align-items: center;
        position: relative;
        min-width: max-content;
        white-space: nowrap;
        border-radius: 0.375rem;
        font-size: 0.875rem;
        line-height: 1.125rem;
        font-weight: 500;
        transition: all 0.1s ease;

        i {
          font-size: 1rem;
        }
      }

      .wlrmg-error-message {
        color: red;
        font-size: smaller;

        .wlrmg-active-error {
          display: block;
        }

        &:not(.wlrmg-active-error) {
          display: none;
        }
      }


    }
  }

  .wlrmg-button {
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    border: 1px solid lightgray;
    text-decoration: none;
    color: $color-white;
    background: $theme-color;

    &:disabled {
      cursor: not-allowed;
    }

  }

  .wlrmg-pagination {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    .pagination {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      margin-right: 25px;
      margin-bottom: 20px;

      li {
        background: $color-white;
        border: 1px solid $border-color;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: $cursor;
        font-size: 15px;
      }

      a {
        text-decoration: none;
        color: inherit;
        outline: none;
        box-shadow: none;
        padding: 12px;

        font: {
          weight: 500;
          size: 13px;
        }

      }

      .wlrmg-current-page {
        background-color: $theme-color;

        a {
          color: $color-white;
        }
      }
    }

  }

  .dataTables_info {
    margin: 0 30px 5px 30px;
  }

  #wlrmg-activity-details {
    .wlrmg-activity-details-header {
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 10px;

      .wlrmg-back-btn {
        cursor: $cursor;
      }
    }

    .wlrmg-activity-status span {
      width: 4rem;
      padding: 4px 8px;
      border-radius: 3px;
    }

    .wlrmg-processing {
      color: blue;
      background: rgba(0, 0, 255, 0.30);
    }

    .wlrmg-pending {
      color: orange;
      background: rgba(255, 165, 0, 0.30);
    }

    .wlrmg-completed {
      color: green;
      background: rgba(0, 128, 0, 0.30);
    }

    .wlrmg-activity-details-content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .wlrmg-description {
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
      }
    }

    .wlrmg-job-details, .wlrmg-activity-log-list {
      background: #FFFFFF;
      box-shadow: 0 0 40px rgba(12, 17, 58, 0.08);
      border-radius: 8px;
      padding: 20px;
    }

  }

  .wlrmg-close-icon {
    border: 1px solid;
    border-radius: 50%;
    padding: 1px 4px;
  }


  .wlrmg-overlay-section {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
  }

  .wlrmg-overlay-section.active {
    visibility: visible;
    opacity: 1;

    select {
      min-width: 19rem;
      min-height: 45px;
      border-color: #e7e7ef;
      box-shadow: 0 0 0 1px #e7e7ef;
      font-size: 13px;
    }
  }

  .wlrmg-overlay-section .wlrmg-export-popup {
    display: flex;
    width: auto;
    height: auto;
    min-width: max-content;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 0.5rem;
    background-color: white;

    .wlrmg-section {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 14px;

      .wlrmg-popup-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
          font-weight: bolder;
          font-size: large;
        }
      }

      .wlrmg-popup-download-files {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 450px;
        overflow: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
          width: 15px;
        }

        &::-webkit-scrollbar-thumb {
          border: 4px solid rgba(0, 0, 0, 0);
          background-clip: padding-box;
          border-radius: 20px;
          background-color: $theme-color;
        }
      }
    }

    .wlrmg-export-content, .wlrmg-exported-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 10px;
      height: auto;

      .wlrmg-exported-file {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.75rem;
        border-radius: 0.25rem;
        border-width: 1px;
        border-color: rgba(231, 231, 239, 1);
        background-color: rgba(246, 246, 254, 1);
        padding: 0.75rem 1.25rem;

        .wlrmg-file-name {
          display: flex;
          justify-content: flex-start;
          column-gap: 0.5rem;
          align-items: center;

          p {
            font-size: 15px;
          }
        }

        a {
          text-decoration: none;
          color: rgba(79, 71, 235, 1);
        }
      }
    }

    .wlrmg-exported-content {
      height: 400px;
      max-height: max-content;
    }


    .wlrmg-notification {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(164, 237, 198, 0.5);
      padding: 0.5rem 1.25rem;
      border-radius: 5px;
      color: #3c434a;
      font-size: 14px;
    }

    .wlrmg-export-label {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .wlrmg-overlay {
    top: 10%;
    left: 35%;
    z-index: 50;
    position: absolute;
    height: auto;
    width: auto;
    min-width: 480px;
    padding: 5px 20px 15px 20px;
    background: white;
    border-radius: 6px;
  }

  .select2-container {
    height: auto;
    outline: none;

    .select2-selection--multiple {
      display: flex;
      flex: 1 1 0;
      flex-wrap: wrap;
      padding: 2px;
      position: relative;
      align-items: center;
      border-radius: 0.25rem;
      border-width: 1px;
      border-color: #e7e7ef;
      background-color: #fff;

      li {
        margin: 0;

        input {
          margin: 0;
        }
      }

      .select2-selection__choice {
        display: flex;
        flex-direction: row-reverse;
        background-color: #E7E7EF;
        margin: 2px;
        min-width: 0;
        gap: 5px;
        border-radius: 4px;
        outline: none;
        color: #161F31;
        border: none;
        padding: 4px 8px;

        .select2-selection__choice__remove {
          color: #161F31;
        }
      }
    }
  }

  select {
    min-width: 19rem;
    min-height: 45px;
    border-color: #e7e7ef;
    box-shadow: 0 0 0 1px #e7e7ef;
    font-size: 13px;

    &:focus {
      box-shadow: none;
    }

  }


  /*popup*/
  .wlrmg-overlay-section {

    .wlrmg-popup {
      display: flex;
      flex-direction: column;
      padding: 10px;
      min-width: 400px;
      gap: 1rem;
    }

    .wlrmg-popup-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .wlrmg-popup-body {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .wlrmg-popup-foot {
      button {
        float: right;
        padding: 10px;
        border-radius: 6px;
        background: $theme-color;
        color: $color-white;
        cursor: pointer;
      }
    }

  }

  /* cursor */
  .wlrmg-cursor {
    cursor: pointer;
  }

  .wlrmg-pop-select-button {
    background: $theme-color;
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    padding: 8px;
    border: none;
    outline: none;
    box-shadow: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 18px;
    cursor: $cursor;
  }
}

.wlrmg-activity-button-section {
  display: flex;
  gap: 10px;
}

/* select2 css start */

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: $theme-color !important;
  color: #fff !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  color: #3c434a;
  background-color: #ddd;
}

.select2-container--default .select2-results__option[data-selected=true] {
  background-color: #ddd;
}

.wc-wp-version-gte-53 .select2-dropdown--below {
  box-shadow: 0 0 0 1px $theme-color, 0 2px 1px rgb(0 0 0 / 10%);
}

.wc-wp-version-gte-53 .select2-dropdown,
.wc-wp-version-gte-53 .select2-container .select2-selection--single,
.wc-wp-version-gte-53 .select2-container.select2-container--open .select2-selection--single {
  border-color: #e7e7ef;
  box-shadow: 0 0 0 1px #e7e7ef;
}

.wc-wp-version-gte-53 .select2-container.select2-container--focus .select2-selection--single,
.wc-wp-version-gte-53 .select2-container.select2-container--open .select2-selection--multiple,
.wc-wp-version-gte-53 .select2-container.select2-container--open .select2-selection--single {
  box-shadow: 0 0 0 1px #e7e7ef;
}

.wc-wp-version-gte-53 .select2-container .select2-selection--single {
  min-height: 45px;
  //height: auto;
}

.wc-wp-version-gte-53 .select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 8px;

  &:hover {
    color: #444;
  }
}

.wc-wp-version-gte-53 .select2-container .select2-selection--single .select2-selection__arrow {
  top: 8px;
}

.wc-wp-version-gte-53 .select2-container .select2-selection--multiple {
  min-height: 45px;
}

/* select2 css end */
@media only screen and (max-width: 830px) {
  #wlrmg-main-page .wlrmg-parent .wlrmg-body-content .wlrmg-body-data .wlrmg-migation-card-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  #wlrmg-main-page .wlrmg-parent .wlrmg-body-content .wlrmg-table-search-export {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 570px) {
  #wlrmg-main-page .wlrmg-parent .wlrmg-body-content .wlrmg-body-data .wlrmg-migation-card-section {
    display: flex;
    flex-direction: column;
  }

}